<div class="jumbotron">
  <h1>cpa02: Student Query</h1>
  <p></p>
</div>

<p class="p-3 m-3 border border-primary bg-light">
  This app supports student query feature!
</p>

<% if (true || loggedIn) {%>
<form method="post" action="/students/byMajor">
  Show Students by Major:
  <input type="text" name="major" placeholder="e.g. Politics" />
  <input type="submit" />
</form>
<br />
<form method="post" action="/students/byAge">
  Show Students by Age range:
  <input type="text" name="min_age" placeholder="minimum e.g. 26" />
  <input type="text" name="max_age" placeholder="maximum e.g. 26" />
  <input type="submit" />
</form>
<br />
<form method="post" action="/students/bySAT">
  Show Students by SAT range:
  <input type="text" name="min_SAT" placeholder="minimum e.g. 1577" />
  <input type="text" name="max_SAT" placeholder="maximum e.g. 1842" />
  <input type="submit" />
</form>
<br />

<% } %>
